<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Categories</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
<div class="flex flex-col max-w-full  bg-blue-200 rounded-2xl p-5 min-h-screen m-5">

    <h1 class="items-center font-bold text-3xl py-3">Expense Management Application</h1>
    <hr><hr>
    <br>

    <div class="flex ">
        <h2 class="text-2xl font-bold">Categories</h2>
        <hr><hr>
        <br>
        <div class="px-10 flex ml-10 gap-15 items-center ">
            <a th:href="@{/home-page}" class="mx-2 p-2 px-6 text-white  bg-blue-950 rounded-md hover:bg-blue-400
            transition duration-600 hover:text-blue-950 hover:outline-blue-950 outline-1 text-right">Go Back to Dashboard</a>

            <a th:href="@{/categories/add}" class="mx-2 p-2 px-12 text-right text-blue-950 font-bold hover:bg-blue-950 rounded-md bg-blue-600
            transition duration-600 hover:text-white hover:outline-blue-950 outline-1"> + Add Category</a>
        </div>
    </div>
    <hr> <hr>

    <br>
    <div class="mr-4 my-2 p-2 pt-4 items-center">

        <table class="items-center w-[60%] justify-center">
            <thead class="bg-blue-900 text-white p-4">
            <tr class="h-10 font-light">
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>

            </tr>
            </thead>

            <tbody>
            <tr class="py-2 my-3" th:each="category : ${categories}">
                <td class="py-2 my-2 bg-gray-200 ml-2 pl-2" th:text="${category.name}"></td>
                <td class="py-2 my-2 bg-gray-200 ml-2 pl-2" th:text="${category.description}"></td>
                <td class="text-right"><a class="bg-blue-700 text-white  px-6" th:href="@{/categories/editCategory(id=${category.id})}">Edit</a>
                    <a class="bg-red-900 text-white px-6" th:href="@{/categories/deleteCategory(id=${category.id})}">Delete</a></td>

            </tr>
            </tbody>
        </table>

    </div>




</div>


</body>
</html>