<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Transaction</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
<div class="flex flex-col max-w-full  bg-blue-200 rounded-2xl p-5 min-h-screen m-5">

    <h1 class="items-center font-bold text-3xl py-3">Expense Management Application</h1>
    <hr><hr>
    <br>

    <div class="flex ">
        <h2 class="text-2xl font-bold">Edit Transaction </h2>
        <hr><hr>
        <br>
        </div>
    <br>

    <form action="#" th:action="@{/transactions/saveEditedTransaction}" th:object="${transactionDto}" method="post" class="bg-blue-100 mx-5 p-5 rounded-2xl">
        <input type="hidden" th:field="*{id}" />
        <label class="font-bold" for="title">Title:</label> <br>
        <input class="outline-1 my-2 w-full rounded-b p-2 bg-white" type="text" id="title" th:field="*{title}" required>
        <br> <br>


        <div class="grid grid-cols-3 gap-15">
            <div>
                <label  for="amount" class="font-bold">Amount:</label> <br>
                <input class="outline-1 my-2 w-full rounded-b p-2 bg-white" type="number" id="amount" th:field="*{amount}" required>
            </div>
            <div>
        <label for="category" class="font-bold">Category:</label>
        <select  th:field="*{categoryId}"  class="outline-1 my-2 w-full rounded-b p-2 bg-white" id="category" >
            <option value="">Select Category</option>
            <option  th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}" ></option>
        </select>
            </div>
            <div>
            <label th:for="*{type}" class="font-bold">Type:</label>
            <input th:id="*{type}" th:each="transactionType :${transactionTypeList}" th:text="${transactionType}" th:value="${transactionType}"  th:field="*{type}"  class="my-2 w-[60px] rounded-b p-2 bg-white" type="radio"   required>

            </div>
        </div>
        <br>
        <button class="my-3 bg-blue-900  hover:bg-blue-800 hover:outline-blue-900 outline-1 text-white px-4 py-2 rounded-full group-hover:bg-blue-700 text-center w-full font-bold " type="submit">Update Transaction</button>
    </form>




</div>


</body>
</html>